/* Genel Stil */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman fontu */
    background: url('logo.png') no-repeat center center fixed; /* Logo arka plan olarak kullanılıyor */
    background-size: cover; /* Arka planın tüm ekranı kaplaması */
    height: 100vh; /* Sayfanın tamamını kaplar */
}

/* Üst Menü (Header) */
header {
    background-color: #770000; /* Bordo renk */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Mobil Uyumluluk */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }
}