/* Çalışma Alanlarımız Butonları */
.services {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services ul li {
    margin: 15px 0;
}

/* Buton Stili */
.services .button {
    background-color: #004d40;
    color: white;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    width: 220px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.services .button:hover {
    background-color: #00332d;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}